---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button from "../../components/Button.astro";
import Card from "../../components/Card.astro";
import "../../styles/global.css";

const artists = await fetch(
  "https://dddvlaithoterjghgqjy.supabase.co/rest/v1/Artist",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkZHZsYWl0aG90ZXJqZ2hncWp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MDU5NjMsImV4cCI6MjA0NTA4MTk2M30.7vdc58-wObQrbkV38YpubtO1fR06ID2gX8iR1vMH_rw",
    },
  }
).then((res) => res.json());
---

<BaseLayout>
  <main>
    <h1>LINE-UP</h1>
    <div class="artists">
      <div class="big">
        <h3></h3>
      </div>
      <div class="small">
        <h4></h4>
      </div>
    </div>

    <div class="program_box">
      <ul>
        {
          artists.map((artist) => {
            return <Card artist={artist} />;
          })
        }
      </ul>
    </div>
    <h2>PROGRAM</h2>
    <div class="date_grid">
      <Button variant="secondary-btn">TORSDAG</Button>
      <Button variant="secondary-btn">FREDAG</Button>
      <Button variant="secondary-btn">LØRDAG</Button>
    </div>
    <img class="program" src="img/program.webp" alt="program" />
  </main>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    margin-top: var(--space-xl);
  }
  .program_box {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: var(--space-xl) auto;
    padding: var(--space-xl);
    border: 5px solid var(--tertiary-color);
  }
  ul {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  h2 {
    text-align: center;
  }

  .date_grid {
    text-align: center;
  }
  img {
    width: 50%;
    margin: auto;
  }

  @media (max-width: 799px) {
    .program_box {
      margin: var(--space-xl);
    }
  }
</style>
