---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<BaseLayout>
<main>
    <h1>EMMA SØ</h1>
    <div class="artist_box">
        <div>
            <a href="/lineup"><i></i>  GO BACK</a>
            <img src="" alt="Kunstnerbillede">
            <Button/>
        </div>
        <div>
            <h4>FRIDAY 18:00-20:30 AT ARKADEN</h4>
            <p>Emma Sø is a Danish singer and songwriter who has established herself as one of the country's most promising talents in indie pop and folk music. <br>
            With her warm voice and captivating lyrics, she manages to create an intimate connection with her audience, where vulnerability and strength go hand in hand. Her music revolves around themes such as love, loss, and self-discovery, and her honest and poetic approach to songwriting has earned her a growing fanbase. <br>
            Emma Sø is known for her powerful live performances, where her presence and musical talent truly shine.</p>
        </div>
    </div>
</main>
</BaseLayout>

<style>
    a {
        text-decoration: none;
        color: var(--text-color);
        font-family: var(--font-p);
        font-weight: 800;
        
    }
    i {
         border: solid var(--text-color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    p{
        line-height: 200%;
        width: 565px;
        height: 565px;
        border: 10px solid var(--tertiary-color);
        padding: 2rem;
        font-size: 16px;
    }
    h4 {
        margin-bottom: 2rem;
    }
    .artist_box {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 6rem;
    }
main {
   
}
</style>