---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<BaseLayout>
<main>
    <h1>KUNSTNERNAVN</h1>
    <div class="artist_box">
        <div>
            <a href="/lineup">GO BACK</a>
            <img src="" alt="Kunstnerbillede">
            <Button/>
        </div>
        <div>
            <h3>Tid og sted for koncert</h3>
            <p>Description</p>
        </div>
    </div>
</main>
</BaseLayout>