---
import Button from "../components/Button.astro";
import Bubble from "../components/Bubble.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Karrusel Festival</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>KARRUSEL</h1>
        <div class="buttons">
          <Button variant="primary-btn">LINE-UP</Button>
          <Button variant="primary-btn">TICKETS</Button>
        </div>
      </div>
      <div class="banner">
        <div class="slide-container">
          <p class="blue">28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p class="pink">28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p class="blue">28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p class="pink">28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p class="blue">28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p class="pink">28-30 AUGUST 2025</p>
          <p>&#183;</p>
        </div>
      </div>
    </header>
    <main>
      <section id="section1">
        <p class="box">
          3 days of house, disco and techno in the woods. <br />

          36 artists across 3 stages including Anetha, Ben Böhmer, HorsegiirL,
          Job Jobse, Ki/Ki, Marlon Hoffstadt, Nene H, Sama'Abdulhadi, Viken
          Arman, X CLUB. <br />

          Karrusel takes place at a secluded green spot on Refshaleøen in
          central Copenhagen.
        </p>
      </section>
      <section id="section2">
        <div class="button_grid">
          <div class="grid1">
            <Bubble>FAQ</Bubble>
            <Bubble>VOLUNTEER</Bubble>
            <Bubble>GALLERY</Bubble>
          </div>
          <div class="grid2">
            <Bubble>LOST & FOUND</Bubble>
            <Bubble>FORMER YEARS</Bubble>
          </div>
        </div>
      </section>
      <section id="section4">
        <div class="box">
          <h2>DRUG POLICY</h2>
          <p>
            It's not allowed to do drugs at Karrusel. If you or someone feels
            bad, go to the First Aid and Awareness Team tent and they will
            assist you. They are experienced and will provide advice about
            drugs, alcohol, legal highs for anything that is troubling you in
            full confidentiality. First Aid and Awareness Team tents are located
            close to Tribunen. Ask any festival staff and they will guide you.
          </p>
        </div>
      </section>
      <section id="section5">
        <h2>CHECK OUT THE FESTIVAL GROUNDS</h2>
        <img src="img/map.png" alt="map" />
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    background-image: url(img/header.png);
    background-position: center;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-content {
    padding-top: 15%;
  }
  h1,
  h2 {
    text-align: center;
  }

  .buttons {
    text-align: center;
  }

  .banner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #4d3581;
    height: 90px;
    margin-top: auto;
    overflow: hidden;
  }

  .slide-container {
    display: flex;
    animation: slide 35s linear infinite;
    white-space: nowrap;
  }
  .banner p {
    padding: 0 0.5em;
    font: var(--font-h2);
    font-size: var(--font-size-h2);
  }
  @keyframes slide {
    0% {
      transform: translateX(1%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .pink {
    color: var(--primary-color);
  }

  .blue {
    color: var(--secondary-color);
  }

  .dot {
    font-weight: bolder;
  }

  .box {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: var(--space-xl) auto;
    padding: var(--space-xl);
    border: 5px solid var(--tertiary-color);
  }

  img {
    width: 60%;
    margin: auto;
  }

  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
  }

  @media (max-width: 699px) {
    .header-content {
      margin-top: auto;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 48px;
    }

    img {
      width: 100%;
    }

    .box {
      margin: var(--space-lg);
    }

    .btn {
      margin-top: var(--space-md);
    }
  }

  @media (min-width: 700px) {
    .button_grid {
      display: grid;
      justify-content: center;
    }

    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      margin: auto;
    }

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin: auto;
    }
  }
</style>
