---
import Button from "../components/Button.astro";
import Bubble from "../components/Bubble.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Karrusel Festival</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>KARRUSEL</h1>
        <div class="buttons">
          <Button variant="primary-btn">LINE-UP</Button>
          <Button variant="primary-btn">TICKETS</Button>
        </div>
      </div>
      <div class="banner">
        <div class="slide-container">
          <p>28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p>28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p>28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p>28-30 AUGUST 2025</p>
          <p>&#183;</p>
          <p>28-30 AUGUST 2025</p>
          <p>&#183;</p>
        </div>
      </div>
    </header>
    <main>
      <p>
        3 days of house, disco and techno in the woods. <br />

        36 artists across 3 stages including Anetha, Ben Böhmer, HorsegiirL, Job
        Jobse, Ki/Ki, Marlon Hoffstadt, Nene H, Sama'Abdulhadi, Viken Arman, X
        CLUB. <br />

        Karrusel takes place at a secluded green spot on Refshaleøen in central
        Copenhagen.
      </p>
      <div class="button_grid">
        <Bubble />
        <Bubble />
        <Bubble />
        <Bubble />
        <Bubble />
      </div>
      <div class="drug_box">
        <h2>DRUG POLICY</h2>
        <p>
          It's not allowed to do drugs at Karrusel. If you or someone feels bad,
          go to the First Aid and Awareness Team tent and they will assist you.
          They are experienced and will provide advice about drugs, alcohol,
          legal highs for anything that is troubling you in full
          confidentiality. First Aid and Awareness Team tents are located close
          to Tribunen. Ask any festival staff and they will guide you.
        </p>
      </div>
      <h2>CHECK OUT THE FESTIVAL GROUNDS</h2>
      <img src="" alt="Map" />
    </main>
  </body>
</html>

<style>
  header {
    background-image: url(img/header.png);
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .header-content {
    padding-top: 15%;
  }
  h1 {
    text-align: center;
  }

  .buttons {
    text-align: center;
  }

  .banner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #4d3581;
    height: 90px;
    margin-top: auto;
  }

  .slide-container {
    display: flex;
    animation: slide 53s linear infinite;
    white-space: nowrap;
  }
  .banner p {
    padding: 0 0.5em;
    font: var(--font-h2);
    font-size: var(--font-size-h2);
  }
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .dot {
    font-weight: bolder;
  }

  .button_grid {
    display: grid;
    grid-column: repeat(6 * 1fr);
    grid-template-rows: 1fr 1fr;
  }
</style>
