---
import "../styles/global.css";

const { variant } = Astro.props;
const { link } = Astro.props;
---

<a class={variant} href={link}> <slot /> </a>

<style>
  a {
    text-align: center;
    font-family: "Arimo";
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: var(--space-sm);
  }
  .primary-btn {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
  }

  .primary-btn:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 3px solid var(--text-color);
  }

  .secondary-btn {
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
  }

  .secondary-btn:hover {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--text-color);
  }

  @media (max-width: 699px) {
    a {
      font-size: 32px;
    }
  }
</style>
