---
const { artist } = Astro.props;
console.log("artist", artist);
---

<li>
  <a href={"/artists/" + artist.slug}>
    <h3>{artist.name}</h3>
    <img src={artist.image} alt={artist.name} />
    <p>{artist.description}</p>
  </a>
</li>
