---
const { artist } = Astro.props;
console.log("artist", artist);
---

<li>
  <a href={"/artists/" + artist.slug}>
    <h3>{artist.name}</h3>
  </a>
  <span class="dot">•</span>
</li>

<style>
  h3 {
    font-size: var(--font-size-h3);
    font-weight: normal;
  }
  li {
    display: flex;
    align-items: center;
  }
  h3:hover {
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
  }

  .dot {
    margin: 0 20px;
    color: #fff;
    font-size: var(--font-size-h3);
  }

  li:last-child .dot {
    display: none;
  }
</style>
