---

---

<footer>
    <div class="info">
        <div>
            <h5>OM OS</h5>
            <p>Om Karrusel Festival <br> Samarbejdspartnere <br> Praktisk information</p>
        </div>
        <div>
            <h5>KARRUSEL FESTIVAL GRUPPEN</h5>
            <p>Karrusel Festival Gruppen Facebook</p>
        </div>
        <div>
            <h5>KONTAKT OS</h5>
            <p>info@nusnus.dk <br> Refshalevej 185, 1432 København <br> Job & praktik <br> Presse</p>
        </div>
    </div>
    <img src="" alt="Logo">
    <img src="" alt="Icon">
    <img src="" alt="Icon">
    <p>2024 Karrusel Festival Gruppen</p>
</footer>