---
import "../styles/global.css";
---

<header>
  <a href="/"><img src="img/karrusel-logo.png" alt="Logo" /></a>
  <nav>
    <ul class="menu">
      <li><a href="/">FRONTPAGE</a></li>
      <li><a href="/artists">LINE-UP</a></li>
      <li><a href="#">TICKETS</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  img {
    height: 80px;
    width: 100px;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
  }

  .menu li {
    text-align: center;
    font-family: var(--font-h2);
    font-weight: 100;
    font-style: normal;
    font-size: var(--font-size-h5);
  }

  .menu li:last-child {
    margin-right: 4rem;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: var(--primary-color);
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }

  .button {
    text-decoration: none;
    background-color: var(--rod);
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
  }
  .button a:hover {
    color: var(--sort);
  }
  .menu li:last-child a:hover {
    color: var(--sort);
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    a {
      display: block;
    }

    nav.active .menu {
      display: block;
      background-color: var(--bg-light);
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 24px;
    }
    img {
      width: 100px;
      height: 80px;
    }
  }
</style>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
